.nav {
    display: grid;
    grid-area: n;
    padding: 20px;
    grid-template-rows: 15px 15px 15px 15px 15px;
    grid-gap: 15px;
    justify-items: start;
}

.item a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.item a.active{
    color: gold;
}